/* *{
	margin:0;
	padding:0;
	list-style-type: none;
	font-family:'Roboto', sans-serif
}

.newClass{
	color: red;
	text-decoration: underline;
} */
/* d467ff */

.div{
	background-color: pink;
	margin: 50px;
}